.wrapper {
  background-image: url(../../../../assets/img/fondo2.jpg);
  //   background-repeat: no-repeat;
  background-size: cover;
}

.wd-xl {
  width: 90%;
}

.card-flat {
  height: 629px !important;
}

.img-logo {
  img {
    border-radius: 1000px;
    width: 27%;
  }
}

@media (min-width: 701px) {
  .wd-xl {
    width: 70%;
  }

}

@media (min-width: 1620px) {
  .wd-xl {
    width: 30%;
  }

}
