.wrapper {
  background-image: url(../../../../assets/img/fondo2.jpg);
  //   background-repeat: no-repeat;
  background-size: cover;
}

.wd-xl {
  width: 28%;
}

.card-flat {
  height: 629px !important;
}

.img-logo {
  img {
    border-radius: 100px;
    width: 27%;
  }
}
