.alt {
  height: 146px;
}

.font-13 {
  font-size: 13px;
}

label {
  margin: 0px;
}

.pos-item {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 125px;
}

.display {
  display: none;
}

.input-mod2 {
  padding: 5px 10px;
  background: #20a8d8;
  color: #fff;
  border: 0px solid #fff;
  border-radius: 10px;
  cursor: pointer;
}
